:root {
    --color-primary: #0c7238;
    --color-secondary: #efb029;
    --color-accent: #a42350;
    /* ... */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/font/barlow/Barlow-Thin.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/font/barlow/Barlow-ExtraLight.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/font/barlow/Barlow-Light.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font/barlow/Barlow-Regular.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/font/barlow/Barlow-Medium.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/font/barlow/Barlow-SemiBold.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/font/barlow/Barlow-Bold.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/font/barlow/Barlow-ExtraBold.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/font/barlow/Barlow-Black.ttf');
    /* IE9 Compat Modes */
    src: local('Barlow'), local('Barlow'), url('./assets/font/barlow/Barlow-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.app-container {
    background-color: white;
    max-width: 1920px;
}

@media (max-width: 1919px) {
    .app-container {
        max-width: 1280px;
    }
}

@media (max-width: 1279px) {
    .app-container {
        max-width: 1024px;
    }
}

@media (max-width: 1023px) {
    .app-container {
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .app-container {
        max-width: 640px;
    }
}

@media (max-width: 639px) {
    .app-container {
        max-width: 100%;
    }
}